* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(251, 248, 233);
}

h1 {
  text-align: center;
  margin: 2rem;
  font-family: "Fontdiner Swanky", cursive;
}

h1,
h2,
h3 {
  color: #372e29;
}

h2,
h3,
select,
button {
  font-family: obliqua, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fullName {
  color: rgb(251, 248, 233);
}

p,
li,
input {
  font-family: obliqua, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.list-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

li {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.706);
  box-shadow: 5px 5px 10px rgba(105, 66, 21, 0.408);
  list-style: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

li .image {
  margin-top: 1em;
}

li .firstName {
  margin-top: 1em;
}

.student-number,
.search {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
/***Teksten i drop-down-menuen skal centreres***/
select,
.img-container {
  text-align: center;
}

#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(65, 41, 13, 0.864);
  z-index: 100;
}

aside article {
  background-color: rgb(251, 248, 233);
  width: 60%;
  height: 60%;
  margin: 4em auto;
  border-radius: 3px;
  position: relative;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 1em;
}

#luk {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

button,
select {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 3px 6px 10px rgba(105, 66, 21, 0.408);
  border-radius: 3px;
}

.slytherin-filter {
  background-color: #1a472a;
  color: white;
}
.gryffindor-filter {
  background-color: #740001;
  color: white;
}
.ravenclaw-filter {
  background-color: #0e1a40;
  color: white;
}
.hufflepuff-filter {
  background-color: #ecb939;
  color: white;
}

.category,
.number-of-students {
  font-weight: bold;
}

.pop-up-buttons {
  gap: 20px;
}

.prefect-btn,
.expell-btn {
  font-size: 0.7em;
}

.expelled {
  color: red;
}

.hide {
  visibility: hidden;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 19, 98, 0.577);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  box-shadow: 1px 1px 10px rgb(22, 21, 21);
  border-radius: 12px;
  padding: 2em;
  background-color: rgb(237, 241, 197);
  position: relative;
}

button.close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
  background-color: none;
}

.dialog h1 {
  margin-top: 0;
}

.category-flex {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

#popup article {
  height: 80%;
  box-shadow: 1px 1px 10px rgb(22, 21, 21);
}

@media (min-width: 700px) {
  h1 {
    font-size: 3em;
  }
  .list-grid {
    margin-left: 15%;
    margin-right: 15%;
  }

  #list {
    gap: 20px;
  }

  button,
  select {
    margin-top: 1em;
    width: 200px;
    height: 30px;
  }

  .sort {
    margin-top: 2rem;
  }

  .popup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90%;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25%;
    margin-left: 20%;
  }
  .img-container .image {
    height: 160px;
  }

  .category-flex p {
    margin-top: 0.5rem;
  }

  .flex-buttons {
    display: flex;
    justify-content: space-between;
  }

  .buttons {
    margin-right: 1rem;
  }

  .inq-btn {
    height: 10%;
    width: 100%;
  }

  .crest {
    width: 40%;
  }

  #popup article h2 {
    margin: 1em;
  }
}

@media (max-width: 700px) {
  #list {
    grid-template-columns: 1fr 1fr;
    margin-right: 0.5rem;
    gap: 10px;
  }

  .list-grid {
    gap: 5px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  button,
  select {
    margin-top: 0.5rem;
    width: 100px;
    height: 30px;
  }

  .inq-btn {
    width: 200px;
    font-size: 0.7em;
  }
  .sort {
    margin-top: 1rem;
  }

  #popup article {
    padding: 1rem;
  }

  #popup article .image {
    margin-top: 2em;
  }

  #popup p {
    font-size: 0.8em;
    margin-bottom: 0.4em;
  }

  #popup article {
    height: 88%;
  }

  #popup article h2 {
    font-size: 0.8em;
    margin: 0.8em;
  }

  .crest {
    width: 20%;
    margin-bottom: 1em;
  }
}
